
this is a git test to see if this works 
.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-text01 {
  font-family: Arial;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHBva2Vtb258ZW58MHx8fHwxNjY1NTYxMDY1&ixlib=rb-1.2.1&w=1500");
}
.home-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.home-hero-text {
  width: 299px;
  height: 364px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  width: 346px;
  height: 213px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text03 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-transform: none;
  text-decoration: none;
}
.home-features {
  width: 100%;
  height: 193px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text04 {
  width: 660px;
  height: 103px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container01 {
  width: 100%;
  height: 543px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container02 {
  flex: 0 0 auto;
  width: 468px;
  height: 471px;
  display: flex;
  align-items: center;
  padding-left: 58px;
  justify-content: center;
}
.home-text08 {
  font-size: 20px;
  line-height: 2;
}
.home-text10 {
  color: #f10d11;
}
.home-text12 {
  color: #ff0707;
}
.home-image {
  width: 655px;
  height: 419px;
  object-fit: cover;
}
.home-container03 {
  flex: 0 0 auto;
  width: 563px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 524px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
}
.home-container04 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 350px;
  display: flex;
  align-items: flex-start;
  padding-top: 85px;
  padding-bottom: 35px;
}
.home-services {
  width: 100%;
  height: 2685px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text14 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text15 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container {
  width: 100%;
  height: 313px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 30%;
  height: 242px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text19 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text20 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card1 {
  width: 30%;
  height: 241px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text21 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text22 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-text23 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text24 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container05 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2102px;
  display: flex;
  align-items: flex-start;
  padding-top: 71px;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text28 {
  font-size: 23px;
  align-self: stretch;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-team {
  width: 100%;
  height: 1542px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text29 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text30 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-container07 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 595px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 586px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 504px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: 608px;
  height: 504px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text31 {
  font-size: 22px;
}
.home-text32 {
  font-size: 23px;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-our-story {
  width: 100%;
  height: 1837px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text42 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 356px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container12 {
  flex: 0 0 auto;
  width: 631px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 356px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container13 {
  flex: 0 0 auto;
  width: 559px;
  height: 356px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text44 {
  font-size: 22px;
}
.home-text45 {
  color: #e00000;
  font-size: 22px;
}
.home-text46 {
  font-size: 22px;
}
.home-text47 {
  font-size: 22px;
}
.home-text48 {
  font-size: 22px;
}
.home-text49 {
  font-size: 22px;
}
.home-text50 {
  font-size: 22px;
}
.home-text51 {
  font-size: 22px;
}
.home-container14 {
  flex: 0 0 auto;
  width: auto;
  height: 356px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container15 {
  flex: 0 0 auto;
  width: 631px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 356px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container16 {
  flex: 0 0 auto;
  width: 559px;
  height: 356px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text53 {
  font-size: 22px;
}
.home-text55 {
  color: #d88b3b;
}
.home-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 356px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container18 {
  flex: 0 0 auto;
  width: 631px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 356px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container19 {
  flex: 0 0 auto;
  width: 559px;
  height: 356px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text57 {
  font-size: 22px;
}
.home-text59 {
  color: #e00000;
}
.home-text61 {
  color: #d88b3b;
}
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: 356px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container21 {
  flex: 0 0 auto;
  width: 631px;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text63 {
  color: rgb(216, 139, 59);
  font-size: 43px;
}
.home-container22 {
  flex: 0 0 auto;
  width: 559px;
  height: 370px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text64 {
  font-size: 22px;
}
.home-text65 {
  color: #d88b3b;
}
.home-text67 {
  color: #d88b3b;
}
.home-text72 {
  color: #d88b3b;
}
.home-text74 {
  color: #d88b3b;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-content-container {
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .home-heading-container {
    width: 100%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card2 {
    width: 65%;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-heading-container3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-features {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-services {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-team {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text29 {
    text-align: center;
  }
  .home-our-story {
    padding-top: var(--dl-space-space-fiveunits);
  }
  .home-text42 {
    text-align: center;
  }
}
